<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!--日志保存到文件里面 txt-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
			<!--日志路径 网站根目录下面的logs-->
			<param name= "File" value= "Log\\"/>
			<!--是否是向文件中追加日志-->
			<param name= "AppendToFile" value= "true"/>
			<!--保证在日志分割时，新日志的序号会添加在后缀名之前-->
			<param name="preserveLogFileNameExtension" value="true"/>
			<!--定义文件最大个数，超过按顺序删除-->
			<param name="MaxSizeRollBackups" value="-1"/>
			<!--日志文件名是否是固定不变的-->
			<param name= "StaticLogFileName" value= "false"/>
			<!--日志文件名称及保存位置-->
			<param name= "DatePattern" value= "yyyyMMdd&quot;.log&quot;"/>
			<!--每个日志文件的最大大小-->
			<maximumFileSize value="5MB"/>
			<!--日志格式-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%newline【日志时间】：%d  【线程ID】：%thread    %newline【日志级别】：%-5p  %newline【日志对象】：%logger  %newline【日志内容】：%m" />
			</layout>
		</appender>
		<root>
			<!--配置可输出日志级别-->
			<level value="all"/>
			<!--应用配置-->
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>